<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DndStuff</title>
        <link rel="stylesheet" href="style.css" />
        <script defer src="js/main.js"></script>
    </head>
    <body id="body">
        <div id="wrapper">
            <h1 id="header1">
                DndStuff - Днд штуки
            </h1>
            <nav>
                <ul class="top-menu">
                    <li><a href="encounter_diff.html">Рассчитать сложность боя</a></li>
                    <li><a href="dungeon_loot">Рандомный лут с данжей</a></li>
                </ul>
            </nav>
            <div  id="fight_difficultyLT">
                <button id="calcBT">Рассчитать</button>
            </div>
            <div id="dungeon_lootLT">
                <button>Sup</button>
            </div>
        </div>
    </body>
</html>
